#CONTAINER-NAME
#default-preset: fedora44-ai-core2
#required:
CONTAINER_NAME=fedora44-ai-core2

#required:
OPENCLAW_START=1
HERMES_START=0

#secret
OPENCLAW_GATEWAY_TOKEN=example: openssl rand -hex 32
#secret
OPENCLAW_TELEGRAMTOKEN=
#discover-telegram-chat: OPENCLAW_TELEGRAMTOKEN
OPENCLAW_TELEGRAM_CHAT_ID=

#repeat-group: OPENAI_V1 suffix OPENAI_V1_PROVIDER OPENAI_V1_URL OPENAI_V1_PORT OPENAI_V1_KEY OPENAI_V1_API_KEY_ALIAS OPENAI_V1_STREAM
OPENAI_V1_PROVIDER=
OPENAI_V1_URL=
OPENAI_V1_PORT=
#secret
OPENAI_V1_KEY=
#reverse-varname: OPENAI_V1_KEY
OPENAI_V1_API_KEY_ALIAS=
#default-preset: false
OPENAI_V1_STREAM=false

OPENCLAW_OPENAI_V1_DEFAULT_LLM=
#default-preset: true
OPENCLAW_NOTE_FULL_MODE=true

#default-preset: gemini/gemini-3.5-flash
HERMES_MODEL=gemini/gemini-3.5-flash
#secret
HERMES_API_SERVER_KEY=example: openssl rand -hex 32
#secret
HERMES_TELEGRAMTOKEN=Hermes-Agent

#secret
TS_AUTHKEY=
#default-preset: ${CONTAINER_NAME}
TS_HOSTNAME=${CONTAINER_NAME}
#default-preset: --ssh
TS_EXTRA_ARGS=--ssh

#named-volume: /named_volumes/CODEX_AUTH /named_volumes/CODEX_AUTH/auth.json /root/.codex/auth.json link
#default-preset: 1
CODEX_AUTH_PERSISTENCE=1

#named-volume: /named_volumes/OPENCLAW /named_volumes/OPENCLAW/workspace /root/.openclaw/workspace dir
#named-volume: /named_volumes/OPENCLAW /named_volumes/OPENCLAW/agents /root/.openclaw/agents dir
#default-preset: 1
OPENCLAW_PERSISTENT=1

#named-volume: /named_volumes/HERMES /named_volumes/HERMES/state.db /root/.hermes/state.db link
#named-volume: /named_volumes/HERMES /named_volumes/HERMES/response_store.db /root/.hermes/response_store.db link
#named-volume: /named_volumes/HERMES /named_volumes/HERMES/kanban.db /root/.hermes/kanban.db link
#named-volume: /named_volumes/HERMES /named_volumes/HERMES/auth.json /root/.hermes/auth.json link
#named-volume: /named_volumes/HERMES /named_volumes/HERMES/memories /root/.hermes/memories dir
#named-volume: /named_volumes/HERMES /named_volumes/HERMES/sessions /root/.hermes/sessions dir
#named-volume: /named_volumes/HERMES /named_volumes/HERMES/cron /root/.hermes/cron dir
#named-volume: /named_volumes/HERMES /named_volumes/HERMES/skills/custom /root/.hermes/skills/custom dir
#default-preset: 1
HERMES_PERSISTENT=1
