#default-preset: default
SAFRANO9999_OPENCLAW_NETWORK=default

#required: OpenClaw published gateway port
OPENCLAW_GATEWAY_PUBLISH_PORT=18789

#default-preset: NET_ADMIN,NET_RAW
SAFRANO9999_OPENCLAW_CAPABILITIES=NET_ADMIN,NET_RAW

#default-preset: /dev/net/tun
SAFRANO9999_OPENCLAW_DEVICES=/dev/net/tun
