BIP39_PORT=11002
DISPLAY=:0
NO_AT_BRIDGE=1
XDG_RUNTIME_DIR=/tmp/runtime-root
OPENCLAW_START=1
HERMES_START=1
HERMES_HOME=/root/hermes-home
HERMES_INSTALL_DIR=/usr/local/lib/hermes-agent
OPENCLAW_GATEWAY_TOKEN=example: openssl rand -hex 32
OPENCLAW_LITELLM_MODEL=deepseek-v4-flash
HERMES_LITELLM_MODEL=deepseek-v4-flash
HERMES_API_SERVER_KEY=
TELEGRAMTOKEN_OPENCLAW=
TELEGRAMTOKEN_HERMES=Hermes-Agent
BRAVE_API_KEY=
CLAUDE_CODE_OAUTH_TOKEN=
