# Token protecting Cloudflare edits in the WebUI.
#required:
#secret
CITADEL_TOKEN=example: openssl rand -hex 32

#default-preset: insert later
#secret
CLOUDFLARE_API_TOKEN=

#default-preset: insert later
CLOUDFLARE_EMAIL=foo@bar.de

#default-preset: insert later
#secret
TUNNEL_TOKEN=
